
#revsec-main {
	position: fixed;
	z-index: 18538;
	top: 15px;
	right: 15px;
	border: 5px solid #ADADAD;
	border-radius: 5px;
	margin: 0;
	padding: 0;
	width: 320px;
	background: #f7f7f7;
	color: #666;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

#revsec-close-button-div {
	position: fixed;
	z-index: 18539;
}

#revsec-close-button {
	position: fixed;
	top: 7px;
	right: 320px;
	cursor: pointer;
}

#revsec-logo {
	position: absolute;
	top: 0;
	left: 10px;
}

#revsec-title {
	margin-bottom: 5px;
	padding: 8px;
	text-align: center;
	font-family: Arial; sans-serif;
	font-size: 14px;
	line-height: 24px;
	background-image: -webkit-linear-gradient(bottom, rgb(226, 226, 226) 0%,
		rgb(75, 155, 175) 100%);/* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(bottom, rgb(226, 226, 226) 0%,
		rgb(75, 155, 175) 100%);/* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(bottom, rgb(226, 226, 226) 0%,
		rgb(75, 155, 175) 100%);/* For Firefox 3.6 to 15 */
	background: linear-gradient(bottom, rgb(226, 226, 226) 0%,
		rgb(75, 155, 175) 100%);/* Standard syntax */
}

#revsec-result {
	padding: 10px;
}

#revsec-loading {
	font-size: 14px;
	text-align: center;
}

#revsec-loading-spinner {
	margin: 30px 0 10px -5px;
}

#feature-list {
	margin-top: 20px;
	width: 100%;
	font-family: Georgia, Times, serif;
	font-size: 15px;
}

#feature-list ul {
	list-style: none;
}

#feature-list ul li {
	display: block;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
	line-height: 30px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-bottom-color: #CCCCCC;
	padding-left: 10px;
	cursor: pointer;
}

#feature-list ul li:hover {
	color: #FFFFFF;
	background: grey;
}

#feature-list ul li {
	margin-right: 10px;
}

.left {
	text-align: left;
}

.center {
	 text-align: center;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes ani-border-highlight {
    0% {border: 5px solid #ADADAD;}
    50% {border: red solid 5px;}
    100% {border: blue solid 5px;}
}

/* Standard syntax */
@keyframes ani-border-highlight {
    0% {border: 5px solid #ADADAD;}
    50% {border: red solid 5px;}
    100% {border: blue solid 5px;}
}
.highlight-border {
	-webkit-animation: ani-border-highlight 1s linear 0s 3 alternate; /* Chrome, Safari, Opera */
    animation: ani-border-highlight 1s linear 0s 3 alternate; /* Standard syntax */
}

